body {
  padding: 10px;
  font-family: sans-serif;
}
.loop-through .li-tag {
  margin-top: 20px;
}
.form-class {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-class button {
  width: fit-content;
}
